@import '../../shared/_varibales.scss';

.mat-toolbar {
  height: 4rem;
}

.menu-button {
  @media (min-width: $xs-screen-size) {
    display: none;
  }
}

.user-name {
  width: 100%;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  @media (min-width: $xs-screen-size) {
    justify-content: flex-start;
  }
}

.navigation-items {
  list-style: none;
  display: none;

  @media (min-width: $xs-screen-size) {
    display: flex;
  }

  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: calc(100vw - 2rem);

  a {
    text-decoration: none;
    color: white;
    margin-left: 1rem;

    &:hover,
    &:active {
      color: lightgray;
    }
  }

  button {
    color: white;
    font-size: 1.25rem;
  }
}
