<mat-nav-list>
  <a mat-list-item
     *ngIf="!isUserAuth()"
     (click)="onToggleSidenav()"
     routerLink="/auth/new-user">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">משתמש חדש</span>
  </a>
  <a mat-list-item
     *ngIf="isUserAuth()"
     (click)="onToggleSidenav()"
     routerLink="/main">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">ראשי</span>
  </a>
  <a mat-list-item
     *ngIf="isUserAuth()"
     (click)="onToggleSidenav()"
     routerLink="/sharedList/main">
    <mat-icon>list</mat-icon>
    <span class="nav-caption">רשימות משותפות</span>
  </a>
  <mat-list-item>
    <button mat-icon-button
            *ngIf="isUserAuth()"
            (click)="onExit()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">יציאה</span>
    </button>
    <button mat-icon-button
            *ngIf="!isUserAuth()"
            (click)="onLogin()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">כניסה</span>
    </button>
  </mat-list-item>
</mat-nav-list>
