@import '../../shared/varibales';
$card-color: #f1f4fd;
// $card-color: #4169e1;
// $card-color: rgba(221, 160, 221, 0.1);
// .main-container {

//   padding: 5px;
//   direction: rtl;

//   .item-card {
//     width: 80vw;

//     @media (min-width: 860px) {
//       width: 60vw;
//     }
//     @media (min-width: 1000px) {
//       width: 40vw;
//     }
//     @media (min-width: 1300px) {
//       width: 30vw;
//     }
//     border-radius: 8px;
//     background-color: #f3f6f8;
//     padding: 0 0 1.5rem 0;
//   }

//   .card-title {
//     // background-color: #53d769;
//     background-color: #5ba4e5;
//     padding: 0.8rem;
//     border-radius: 8px 8px 0 0;
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-start;
//     align-items: center;
//     width: 100%;
//   }

//   .title-content {
//     display: flex;
//     flex-direction: column;
//     justify-content: center; // ציר ראשי
//     align-items: flex-start; // ציר חוצה

//     padding-right: 0.5rem;
//     width: 90%;
//   }

//   .content {
//     font-size: 1.2rem;
//     margin-top: 0.3rem;
//     margin-right: 0.3rem;
//   }

//   .update-icon-hide {
//     display: none;
//   }

//   .update-icon-display {
//     display: inline;
//   }

//   .card-action-button {
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-end;
//     padding-left: 0.4rem;

//     @media (min-width: $xs-screen-size) {
//       padding-left: 0.8rem;
//     }

//     button {
//       margin-left: 10px;
//     }
//   }

//   .description {
//     padding-left: 10px;
//     padding-right: 10px;
//   }
// }
.main-container {
  width: 89vw;
  @media (min-width: 600px) {
    width: 70vw;
  }
  @media (min-width: 1000px) {
    width: 40vw;
  }
  @media (min-width: 1300px) {
    width: 30vw;
  }
  border-radius: 8px;

  margin: 20px;
  background-color: $card-color;

  display: grid;
  grid-template-columns: 106px auto;
  grid-template-rows: 2.8rem 2.5rem 2.5rem 2.8rem;
  box-shadow: 7px 6px 13px 0px #a56262;

  .picture {
    height: 100%;
    background-color: $card-color;
    grid-row-start: 1;
    grid-row-end: 4;
    border-radius: 8px 0 8px 0;

    img {
      border-radius: 8px 0 8px 0;
      cursor: pointer;
    }

    .loading-gif {
      height: 100%;
      width: 100%;
    }

    .item-image-hide {
      display: none;
    }

    .item-image-show {
      display: inline;
    }
  }

  .name {
    background-color: $card-color;
    border-radius: 0 8px 0 0;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      margin-top: 0.5rem;
    }
  }

  .content {
    font-size: 1.2rem;
    background-color: $card-color;
    grid-row-start: 2;
    grid-row-end: 4;

    .description {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .l3 {
    background-color: $card-color;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 0 0 8px 8px;
  }

  .title-content {
    display: flex;
    flex-direction: column;
    justify-content: center; // ציר ראשי
    align-items: flex-start; // ציר חוצה

    padding-right: 0.5rem;
    width: 90%;
  }

  .update-icon-display {
    display: inline;
  }

  .update-icon-hide {
    display: none;
  }

  .action-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
    // @media (min-width: $xs-screen-size) {
    //   padding-left: 0.8rem;
    // }

    button {
      margin-left: 10px;
    }
  }
}
