<!-- <div class="main-container">
  <mat-card class="item-card">
    <div class="card-title">
      <div *ngIf="opButton">
        <mat-checkbox color="primary"
                      (click)="doneItem()"
                      [(ngModel)]="checked"
                      labelPosition="before"></mat-checkbox>
      </div>
      <div class="title-content">
        <b>{{amount}} {{name}}</b>
        <b>מחיר {{cost}}</b>
      </div>
      <div class="update-icon-hide"
           [ngClass]="{'update-icon-display': updateItemId === id}">
        <mat-icon color="accent">add_shopping_cart</mat-icon>
      </div>
    </div>
    <mat-card-content class="content">
      <p class="description">{{description}}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="opButton">
      <div class="card-action-button">
        <button mat-mini-fab
                matTooltip="מחיקת פריט"
                matTooltipPosition="above"
                (click)="deleteItem()"
                color="warn">
          <mat-icon>clear</mat-icon>
        </button>
        <button mat-mini-fab
                matTooltip="שינוי פריט"
                matTooltipPosition="above"
                (click)="updateItem()"
                color="primary">
          <mat-icon>create</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div> -->

<div class="main-container">
  <div class="picture">
    <img [src]="imgUrl"
         class="item-image-hide"
         [ngClass]="{'item-image-show': doneLoadingPicture}"
         (click)="onShowBigPictuer()"
         (load)="onDoneLoadingPicture()"
         alt="no pic"
         width="106"
         height="120">
    <img class="loading-gif"
         *ngIf="!doneLoadingPicture"
         [src]="loadingGifUrl"
         alt="no pic">
  </div>
  <div dir="rtl"
       class="name">
    <div class="header">

      <div *ngIf="opButton">
        <mat-checkbox color="primary"
                      (click)="doneItem()"
                      [(ngModel)]="checked"
                      labelPosition="before"></mat-checkbox>
      </div>

      <div class="title-content">
        <b>כמות: <span style="text-decoration: underline">{{amount}}</span><span> {{measure}} </span> {{name}}</b>
        <b>מחיר: <span style="text-decoration: underline">{{cost}} ש"ח</span></b>
      </div>

      <div class="update-icon-hide"
           [ngClass]="{'update-icon-display': updateItemId === id}">
        <mat-icon color="accent">add_shopping_cart</mat-icon>
      </div>

    </div>
  </div>
  <div dir="rtl"
       class="content">
    <p class="description">{{description}}</p>
  </div>
  <div dir="rtl"
       class="l3">
    <div *ngIf="opButton"
         class="opButton">
      <ng-content></ng-content>
      <div class="action-button">
        <button mat-mini-fab
                matTooltip="מחיקת פריט"
                matTooltipPosition="above"
                (click)="deleteItem()"
                color="warn">
          <mat-icon>clear</mat-icon>
        </button>
        <button mat-mini-fab
                matTooltip="שינוי פריט"
                matTooltipPosition="above"
                (click)="updateItem()"
                color="primary">
          <mat-icon>create</mat-icon>
        </button>
        <button mat-mini-fab
                matTooltip="בחירת תמונה"
                matTooltipPosition="above"
                (click)="selectPicture()"
                color="primary">
          <mat-icon> photo_library</mat-icon>
        </button>
        <button mat-mini-fab
                matTooltip="צילום"
                matTooltipPosition="above"
                (click)="takePicture()"
                color="primary">
          <mat-icon>camera_alt</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
