<section class="login-container">
  <form [formGroup]="loginForm"
        (ngSubmit)="onLogin()">
    <mat-card class="login-card">
      <mat-card-header class="card-header">
        <mat-card-title>
          <h3>כניסה</h3>
        </mat-card-title>
        <div class="card-subtitle">
          <p>פרטים</p>
        </div>
      </mat-card-header>
      <mat-card-content class="card-content"
                        dir="rtl">
        <mat-form-field>
          <input matInput
                 formControlName="userName"
                 placeholder="שם משתמש">
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 type="password"
                 formControlName="password"
                 placeholder="סיסמה">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="card-action">
        <button class="login-button"
                *ngIf="!startLogin"
                mat-raised-button
                [disabled]="!loginForm.valid"
                type="submit"
                color="primary">
          <i class="fa fa-envelope"></i>
          כניסה
        </button>
        <button class="login-button"
                *ngIf="!startLogin"
                (click)="onLoginWithFacebook()"
                mat-raised-button
                type="button"
                color="primary"><i class="fa fa-facebook-official"
             aria-hidden="true"></i> כניסה עם פייסבוק</button>
        <button type="button"
                class="reset-password"
                (click)="onResetPassword()"
                mat-button
                color="primary">שכחתי סיסמה</button>
        <div class="spinner-div"
             *ngIf="startLogin">
          <h3>מבצע אימות נתונים</h3>
          <mat-progress-spinner [diameter]="40"
                                [mode]="'indeterminate'"></mat-progress-spinner>
        </div>
      </mat-card-actions>
      <mat-card-footer>
        <!-- card footer -->
      </mat-card-footer>
    </mat-card>
  </form>
</section>
