<div class="main-container">
  <h2>רשימות משותפות</h2>
  <mat-card *ngFor="let list of userLists">
    <mat-card-content (click)="showList(list)">
      <h2>{{list.name}}</h2>
      <h3>{{list.description}}</h3>
    </mat-card-content>
    <mat-card-actions>
      <div class="card-action-button">
        <button mat-mini-fab
                matTooltip="שינוי רשימה"
                matTooltipPosition="above"
                (click)="onListUpdate(list)"
                color="primary">
          <mat-icon>create</mat-icon>
        </button>
        <button mat-mini-fab
                matTooltip="מחיקת רשימה"
                matTooltipPosition="above"
                (click)="onListDelete(list)"
                color="warn">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>

  <div *ngIf="!isDoneLoading">
    <h3>טוען נתונים</h3>
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
</div>
