.main-container {
  .update-item-form {
    display: flex;
    flex-direction: column;
  }

  .update-item-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .update-item-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center; // ציר ראשי
    align-items: center; // ציר חוצה
  }
}
