@import './../shared/varibales.scss';

.main-container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start; // ציר ראשי
  align-items: center; // ציר חוצה

  @include user-background();

  .camera-container {
    background-color: #f3e5f5;
    margin-top: 1rem;
    padding: 0.5rem;
    box-shadow: 1px 1px 5px #888888;
    width: 90vw;
    height: auto;
    @media (min-width: 880px) {
      width: 54vw;
    }
    @media (min-width: 1200px) {
      width: 40vw;
    }
    @media (min-width: 1400px) {
      width: 35vw;
    }
    @include flex-column-center();

    canvas {
      border: 1px solid black;
      width: 320px;
      max-height: 320px;

      @media (min-width: 900px) {
        height: 360px;
      }
    }

    .video-window {
      width: 512px;
      max-width: 100%;
      height: 450px;
      max-height: 80%;
      display: none;
      margin: 1rem auto 1rem auto;
    }

    .picture-progress-bar {
      width: 100%;
      margin-bottom: 1rem;
      // @media (min-width: $xs-screen-size) {
      //   width: 55%;
      // }
    }

    .pick-image {
      @include flex-column-center();
      width: 100%;
    }
  }
}
