<div class="main-container">
  <div class="camera-container">
    <video class="video-window"
           id="player"
           [style.display]="displayVideo"
           #videoElement
           autoplay></video>
    <canvas class="video-window"
            width="320"
            height="240"
            id="canvas"
            #canvasElement
            [style.display]="displayCanvas"></canvas>
    <p *ngIf="startLoadingPic"
       class="upload-msg">מעלה תמונה</p>
    <p *ngIf="doneLoadingPic"
       class="upload-msg">תמונה נטענה</p>
    <mat-progress-bar class="picture-progress-bar"
                      mode="determinate"
                      [value]="progressBarValue"></mat-progress-bar>
    <button mat-raised-button
            [style.display]="displayVideo"
            (click)="onTakePicture()"
            color="primary"
            id="capture-btn">צילום</button>
    <button mat-raised-button
            *ngIf="doneLoadingPic"
            (click)="onGoBack()"
            color="primary"
            id="capture-btn">חזרה</button>
    <div class="pick-image"
         [style.display]="picImageDisplay"
         #pickImage>
      <p>בחירת צילום</p>
      <input type="file"
             (change)="onSelectPicture($event)"
             style="display: none"
             text="צלם"
             accept="image/*"
             id="image-picker"
             #imagePicker>
      <button mat-raised-button
              color="primary"
              (click)="imagePicker.click()">צילום</button>
    </div>
  </div>
</div>
