@import './../shared/_varibales.scss';

.main-container {
  height: 100%;
  @include user-background();
  @include flex-column-center();

  video {
    width: 512px;
    max-width: 100%;
    display: none;
    margin: auto;
  }

  .pick-image {
    display: none;
  }
}
