@import '../../shared/varibales.scss';

.main-container {
  display: flex;
  flex-direction: column;
  // justify-content: center; // ציר ראשי
  justify-content: flex-start; // ציר ראשי
  align-items: center; // ציר חוצה
  min-height: 100%;
  height: auto;
  @include user-background();

  mat-card {
    margin-bottom: 0.5rem;
    width: 80vw;
    @media (min-width: 900px) {
      width: 40vw;
    }
    @media (min-width: 1200px) {
      width: 30vw;
    }
    border-radius: 8px;
    background-color: #f3f6f8;
    padding: 0 0 1.5rem 0;

    mat-card-content {
      direction: rtl;
      padding: 6px 10px 5px 10px;
    }

    mat-card-content:hover {
      border-radius: 8px;
      cursor: pointer;
      background: #dedede;
    }

    .card-action-button {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding-left: 0.4rem;

      @media (min-width: $xs-screen-size) {
        padding-left: 0.8rem;
      }

      button {
        margin-left: 10px;
      }
    }
  }

  // mat-card:hover {
  //   background: #dedede;
  // }
  .sppiner {
    display: flex;
    flex-direction: column;
    justify-content: center; // ציר ראשי
    align-items: center; // ציר חוצה
  }

  // @media (min-width: 900px) {
  //   mat-card {
  //     width: 50vw;
  //   }
  // }
}
