@import '../../shared/varibales';

.main-container {
  height: 100%;
  @include user-background();

  .main-header {
    h2 {
      text-shadow: 2px 2px 7px rgb(185, 180, 180);
    }
    @include flex-column-center();
    height: 10%;
    @media only screen and (min-device-width: $xs-screen-size) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      height: 16%;
    }
  }

  .nav-button {
    // @include flex-column-center();
    display: flex;
    flex-direction: column;
    justify-content: center; // ציר ראשי
    align-items: center; // ציר חוצה
    flex-wrap: wrap-reverse;
    height: 90%;
    /* Landscape */
    @media only screen and (min-device-width: $xs-screen-size) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      justify-content: flex-start; // ציר ראשי
    }
  }

  button {
    width: 80vw;
    @media (min-width: 900px) {
      width: 40vw;
    }
    @media (min-width: 1200px) {
      width: 20vw;
    }
    height: 50px;
    margin: 10px;
    font-size: 1.5rem;
  }
}
