<div class="main-container">
  <div class="main-header">
    <h2>ראשי</h2>
  </div>
  <div class="nav-button">
    <button mat-raised-button
            (click)="onAddNewList()"
            color="primary">רשימה חדשה</button>

    <button mat-raised-button
            (click)="onGetMyLists()"
            color="primary">רשימות שלי</button>
    <button mat-raised-button
            (click)="onSharedMyLists()"
            color="primary">שיתוף</button>
    <button mat-raised-button
            (click)="onGetSharedUsers()"
            color="primary">רשימות משותפות</button>
    <button mat-raised-button
            (click)="onGetSharedList()"
            color="primary">רשימות לייבוא</button>
    <button mat-raised-button
            (click)="onGetCamera()"
            color="accent"> 📷 צילום</button>
  </div>
</div>
