<div class="main-container">
  <div *ngIf="isDoneLoadingMessages">
    <h3 class="title">חדשות ועדכונים</h3>
    <div class="list-messages"
         *ngFor="let message of messages">
      <p>{{ message.message }}</p>
    </div>
    <div class="op-button">
      <button mat-raised-button
              (click)="onClose()"
              color="primary">סגירה</button>
    </div>
  </div>

  <div class="loading-messages-spinner"
       *ngIf="!isDoneLoadingMessages">
    <h3>טוען חדשות ועדכונים</h3>
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</div>
