@import '../../shared/varibales.scss';

.main-container {
  // @include flex-column-center();
  display: flex;
  flex-direction: column;
  justify-content: flex-start; // ציר ראשי
  align-items: center; // ציר חוצה
  @include user-background();
  min-height: 100%;
  height: auto;

  .verification-message {
    @include flex-column-center();
    padding: 1.5rem;
    text-align: right;
    margin: 2rem;
    background-color: #b3b9e2;
    // border: 1px solid black;
    border-radius: 6px;
    box-shadow: 5px 10px 8px #888888;

    .operation-button {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }
}
