<div class="main-container">
  <form dir="rtl"
        [formGroup]="resetPasswordForm"
        (ngSubmit)="onResetPassword()">
    <mat-card class="reset-password-card">
      <mat-card-header>
        <mat-card-title>
          <h3>איפוס סיסמה</h3>
        </mat-card-title>
        <mat-card-subtitle>נא להקליד כתובת אימייל</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="card-content">
        <mat-form-field>
          <input matInput
                 formControlName="userName"
                 placeholder="שם משתמש">
          <mat-icon matSuffix>email</mat-icon>
          <mat-hint>נא להקליד כתובת אימייל חוקית</mat-hint>
          <mat-error *ngIf="resetPasswordForm.get('userName').errors &&  resetPasswordForm.get('userName').errors['required']">שם
            משתמש
            שדה חובה</mat-error>
          <mat-error *ngIf="resetPasswordForm.get('userName').errors &&  resetPasswordForm.get('userName').errors['email']">כתובת
            מייל
            לא חוקית</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="card-action">
        <button mat-raised-button
                [disabled]="!resetPasswordForm.valid"
                type="submit"
                color="primary">איפוס סיסמה</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
