@import '../../shared/varibales.scss';

.main-container {
  height: 100%;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  @include flex-column-center();

  .reset-password-card {
    width: 20rem;
  }

  .mat-card {
    background: #f3e5f5;
  }

  .card-content {
    @include flex-column-center();

    mat-form-field {
      width: 100%;
    }
  }

  .card-action {
    @include flex-row-center();
  }
}
