<div class="main-container">
  <form *ngIf="isDoneUpdateList"
        dir="rtl"
        (ngSubmit)="listUpdate()"
        [formGroup]="updateListForm"
        class="update-list-form">
    <h3>עדכון פרטי רשימה</h3>
    <mat-form-field>
      <input matInput
             formControlName="name"
             placeholder="שם">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             formControlName="description"
             placeholder="תיאור">
    </mat-form-field>
    <div class="update-list-btn">
      <button (click)="onClickClose()"
              mat-raised-button
              color="accent"
              type="button"
              matTooltip="סגור חלונית">
        <b>ביטול</b>
      </button>
      <button id="btnSubmit"
              [disabled]="!updateListForm.valid"
              mat-raised-button
              type="submit"
              matTooltip="שמירה"
              color="primary">
        <b>שמירה</b>
      </button>
    </div>
  </form>
  <div class="update-list-spinner"
       *ngIf="!isDoneUpdateList">
    <h3>מעדכן פרטים</h3>
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</div>
