<div class="main-container">
  <mat-card class="serch-card">
    <mat-form-field class="serch-field">
      <input matInput
             [(ngModel)]="filterTxt"
             placeholder="חיפוש">
    </mat-form-field>
  </mat-card>

  <div class="load-items-spinner"
       *ngIf="!isDoneLoadingItems">
    <h3>טוען נתונים ...</h3>
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>

  <cdk-virtual-scroll-viewport itemSize="50"
                               *ngIf="isDoneLoadingItems"
                               class="example-viewport">

    <mat-card class="item-card"
              [ngClass]="{'item-card-no-scrol' : count < 5}"
              *cdkVirtualFor="let item of items | itemFilter:filterTxt ; let count = count">
      <div class="card-title">
        <div class="title-content">
          <b> {{item.name}}</b>
        </div>
      </div>
      <mat-card-content class="content">
        <p class="description">{{item.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <div class="card-action-button">
          <button mat-mini-fab
                  matTooltip="הוספה"
                  matTooltipPosition="above"
                  (click)="addItem(item)"
                  color="primary">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>

  </cdk-virtual-scroll-viewport>
</div>
